{{#> base }}
    <h1>Hub with iframe</h1>
    <h2>Show <a href="/tab/detail.html" target="_blank" rel="opener">detail 1234</a></h2>
    <h3>Listening message ...</h3>
    <h3 id="post_message_support">{{ browserName }} seems to not support windows.postMessage()</h3>
    <pre id="response_body"></pre>
    <iframe src="/" id="iframe"></iframe>
{{/base}}

